/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 


.banner{
    
    min-height: 630px !important;
}
.banner_text{
    margin-top: 150px;
}
.banner_text h1{
    font-size: 25px;
}
.banner_text h4{
    font-size: 20px;
}
.banner_arrow{
        padding-top: 100px;
    }    

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

.banner{
    
    min-height: 388px !important;
}
.banner_text{
    margin: 130px 0 -25px 0;
}
.banner_text h1{
    font-size: 40px;
}
.banner_text h4{
    font-size: 25px;
}
.banner_arrow{
        padding-top: 140px;
    }
.discovery{
    width: 140px;
    margin: 20px 182px;
    } 
.offer h1{
    font-size: 33px;
    margin-bottom: 30px;
    }
.custom_card{
    margin-bottom: 20px;    
    }
.view{
    width: 165px;
    margin: -30px 175px;
    }
.activities_info img {
    padding: 40px 40px;
}
.activities_wrapper {
    margin-top: 20px;
}
    
.little_four{
    margin-bottom: 10px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

.banner{
    
    min-height: 380px;
}
.banner_text{
    margin: 120px 0 0 0;
}
.banner_text h1{
    font-size: 45px;
}
.banner_text h4{
    font-size: 35px;
}
.banner_arrow{
    margin-top: 20px;
        padding-top: 100px;
    }
.discovery{
    width: 175px;
    } 
.custom_card{
    margin-bottom: 20px;    
    }
.view{
    width: 165px;
    }
.little_four{
    margin-bottom: 10px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

.banner{
    min-height: 530px;
}
.banner_text{
        margin: 205px 0 0 0;
}
.banner_text h1{
    
    font-size: 50px;
}
.banner_text h4{
   
    font-size: 40px;
}
.banner_arrow{
    padding-top: 137px;
}
.activities_info img {
    padding: 0px 16px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
.banner{
    min-height: 530px;
}
.banner_text{
        margin: 350px 0 67px 0;
}
.banner_text h1{
    
    font-size: 50px;
}
.banner_text h4{
   
    font-size: 40px;
}
.banner_arrow{
    padding-top: 137px;
}
.info_image ul li img{
    padding: 10px 70px;
}

}